# Database
DB_URL=jdbc:postgresql://localhost:5432/trimzo_db
DB_USERNAME=trimzo_user
DB_PASSWORD=your_password_here

# JWT
JWT_SECRET=yourSecretKeyMinimum32CharactersLong
JWT_EXPIRATION=86400000

# App
APP_BASE_URL=http://localhost:8080x